body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
  body form label {
    font-weight: bold; }
  body .app-header {
    text-align: center;
    background-color: gray;
    height: 200px;
    background-image: url("./Assets/banners/banner4.jpg");
    background-size: cover; }
    body .app-header .header-menu {
      position: absolute;
      width: 100%;
      top: 10px; }
      body .app-header .header-menu .header-link {
        margin: 25px; }
    body .app-header .wedding-logo {
      width: 10%; }
    body .app-header .App-title {
      font-size: 1.5em;
      top: 110px;
      position: absolute;
      width: 100%; }
  body .mid-page-banner {
    width: 100%;
    min-height: 300px;
    background-size: cover;
    background-attachment: fixed; }
    body .mid-page-banner.banner-image-1 {
      background-image: url("./Assets/banners/fireworksBg.jpg"); }
    body .mid-page-banner.banner-image-2 {
      background-image: url("./Assets/banners/friends.jpg"); }
    body .mid-page-banner.banner-image-3 {
      background-image: url("./Assets/banners/banner3.jpg"); }
    body .mid-page-banner.banner-image-4 {
      background-attachment: scroll;
      background-image: url("./Assets/banners/ring.png"); }
    body .mid-page-banner.banner-image-5 {
      background-attachment: scroll;
      background-image: url("./Assets/banners/weddingCake.jpg"); }
    body .mid-page-banner.banner-image-stadhuis {
      background-image: url("./Assets/banners/gentStadhuis.JPG"); }
    body .mid-page-banner.banner-image-sintbaafs {
      background-image: url("./Assets/banners/sintBaafs.JPG"); }
    body .mid-page-banner h2 {
      font-size: 4rem;
      text-align: center;
      color: white;
      position: relative;
      top: 30px; }
    body .mid-page-banner h3 {
      font-size: 3rem;
      text-align: center;
      color: #b93d51;
      position: relative;
      top: 90px; }
  body .location-div {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 50px; }
    body .location-div b {
      font-size: 1.3rem; }
    body .location-div .direction-click {
      font-size: 0.8rem; }
  body .text-div {
    margin: 20px 150px;
    font-size: 1.2rem; }
  body .href-simple {
    text-decoration: none;
    color: black; }
  body .gifts-wrapper {
    margin: 10%; }
    body .gifts-wrapper .gift-div {
      display: inline-block;
      height: 150px;
      width: 150px;
      margin: 50px;
      overflow: hidden; }
      body .gifts-wrapper .gift-div .gift-img {
        height: 150px;
        width: 150px;
        border-radius: 20px; }
      body .gifts-wrapper .gift-div .gift-img:hover {
        opacity: 0.3; }
      body .gifts-wrapper .gift-div .gift-description {
        z-index: -1;
        top: -134px;
        position: relative;
        display: inline-block;
        text-align: center;
        margin: 15px; }

@media only screen and (max-width: 600px) {
  body .mid-page-banner h2 {
    font-size: 4rem;
    color: grey;
    top: 50px; }
  body .text-div {
    margin: 10px; } }
