body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
  body form {
    margin: 0 20px; }
    body form label {
      font-weight: bold; }
      body form label .error-div {
        color: red; }
  body .app-header {
    text-align: center;
    height: 200px; }
    body .app-header .header-menu {
      position: absolute;
      width: 100%;
      top: 10px; }
      body .app-header .header-menu .header-link {
        background: rgba(255, 255, 255, 0.8);
        padding: 10px 15px;
        margin: 15px;
        top: 5px;
        position: relative;
        border-radius: 10px; }
    body .app-header .logo-wrapper {
      height: 120px;
      border-radius: 80px;
      position: relative;
      top: 50px; }
      body .app-header .logo-wrapper .wedding-logo {
        height: 210px;
        width: 150px;
        top: -35px;
        left: -3px;
        position: relative; }
    body .app-header .App-title {
      font-size: 1.5em;
      top: 110px;
      position: absolute;
      width: 100%; }
  body .mid-page-banner {
    width: 90%;
    min-height: 200px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    left: 5%;
    border-radius: 15px; }
    body .mid-page-banner.banner-image-1 {
      background-image: url("./Assets/banners/fireworksBg.jpg"); }
    body .mid-page-banner.banner-image-2 {
      background-image: url("./Assets/banners/friends.jpg"); }
    body .mid-page-banner.banner-image-3 {
      background-image: url("./Assets/banners/banner3.jpg"); }
    body .mid-page-banner.banner-image-4 {
      background-attachment: scroll;
      background-image: url("./Assets/banners/ring.png"); }
    body .mid-page-banner.banner-image-5 {
      background-image: url("./Assets/banners/tof.jpg"); }
    body .mid-page-banner.banner-image-stadhuis {
      background-image: url("./Assets/banners/gentStadhuis.JPG"); }
    body .mid-page-banner.banner-image-sintbaafs {
      background-image: url("./Assets/banners/sintBaafs.JPG"); }
    body .mid-page-banner h2 {
      font-size: 4rem;
      text-align: center;
      color: white;
      position: relative;
      top: 30px; }
    body .mid-page-banner h3 {
      font-size: 3rem;
      text-align: center;
      color: #b93d51;
      position: relative;
      top: 5px; }
  body .something-wrong {
    font-size: 0.8rem;
    margin: 20px; }
  body .rsvp-h1 {
    margin: 20px 45px; }
  body .location-div {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 50px; }
    body .location-div b {
      font-size: 1.3rem; }
    body .location-div .direction-click {
      font-size: 0.8rem; }
    body .location-div .parking-div {
      position: relative;
      top: 5px;
      margin-bottom: 10px; }
  body .text-div {
    margin: 20px 150px;
    font-size: 1.2rem; }
  body .href-simple {
    text-decoration: none;
    color: black; }
  body h1 {
    margin: 0 75px; }
  body .gifts-wrapper {
    margin: 0 10%; }
    body .gifts-wrapper .gift-div {
      display: inline-block;
      height: 150px;
      width: 200px;
      margin: 25px;
      overflow: hidden; }
      body .gifts-wrapper .gift-div .gift-img {
        height: 150px;
        width: 200px;
        border-radius: 20px;
        background: white; }
        body .gifts-wrapper .gift-div .gift-img.flag-img {
          width: 200px; }
      body .gifts-wrapper .gift-div .gift-img:hover {
        opacity: 0.3; }
      body .gifts-wrapper .gift-div .gift-description {
        z-index: -1;
        top: -134px;
        position: relative;
        display: inline-block;
        text-align: center;
        margin: 15px; }

@media only screen and (max-width: 600px) {
  body .mid-page-banner h2 {
    font-size: 4rem;
    color: grey;
    top: 50px; }
  body .text-div {
    margin: 10px; } }
